$primary: #212d4e;
$secondary:#FF6A3D;
$accent: #F4DB7D;
$warning: $accent;
$info:  #9DAAF2;
$background: white;
$translucent: rgba(0, 0, 0, 0.125);

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Fredoka+One&display=swap');

body {
  background: $background;
  font-family: 'Raleway', sans-serif;
}

.brand {
  color: $secondary;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;

  &:hover, &:focus {
    color: darken($secondary, 20%);
  }
}

.order-price {
  margin-left: auto;
  font-weight: 800;
}

span.order-price {
  float: right;
}


.btn {
  font-family: 'Fredoka One', cursive;
}

// Color background classes
.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-info {
  background: $info;
}

.bg-accent {
  background: $accent;
}

// text classes
.text-display {
  font-family: 'Fredoka One', cursive;
}

// border classes
.border-soft {
  border: 1px solid $translucent;
  border-radius: 0.25em;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
